extends base.pug

block content
    video(src=`/${video.videoUrl}`, controls)
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by #{owner.name}
        br
        a(href=`/users/${owner._id}`) See #{owner.name} Profile
    if String(loggedInUser._id) === String(video.owner)
        a(href=`${video.id}/edit`) Edit Video &rarr;    
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;